# Hello Jupyter
This is a sample file using some functionality of pandas.

In [2]:
import pandas as pd

In [5]:
df = pd.read_csv("trees.csv")
df.columns.values
df[' "Height (ft)"']

0     70
1     65
2     63
3     72
4     81
5     83
6     66
7     75
8     80
9     75
10    79
11    76
12    76
13    69
14    75
15    74
16    85
17    86
18    71
19    64
20    78
21    80
22    74
23    72
24    77
25    81
26    82
27    80
28    80
29    80
30    87
Name:  "Height (ft)", dtype: int64

In [10]:
max_values = df.max()
print(max_values)

Index              31.0
 "Girth (in)"      20.6
 "Height (ft)"     87.0
 "Volume(ft^3)"    77.0
dtype: float64

In [11]:
df.corr('pearson')

                    Index   "Girth (in)"   "Height (ft)"   "Volume(ft^3)"
Index            1.000000       0.967207        0.467204         0.903349
 "Girth (in)"    0.967207       1.000000        0.519280         0.967119
 "Height (ft)"   0.467204       0.519280        1.000000         0.598250
 "Volume(ft^3)"  0.903349       0.967119        0.598250         1.000000

In [12]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
dtype: bool